In [1]:
import numpy as np # Linear Algebra => Math
import pandas as pd # Data Frame - Data Format
from sklearn import linear_model # Machine Learning Packages

## Data Load

In [14]:
data = pd.read_csv('hotel_energy.csv') # Data Frame
# data.iloc[:10, :] # iloc: index_location, :10 => 행 갯수 | : => 열

# Predict energy consumstion
x = data.iloc[:, 2:] # Data Frame
y = data.iloc[:, 1] # Data Frame / Series

      area  age  numrooms  occrate  effrooms
0    43000    6       420    32.60    136.92
1    19979   16       215    63.00    135.45
2    46529    7       273    65.05    177.59
3    20962    6       222    70.50    156.51
4    24212    5       474    69.70    330.38
5   112200    4       787    48.97    385.39
6    45000    3       325    49.00    159.25
7    28548    6       199    52.27    104.02
8    32865    8       359    50.00    179.50
9    59406    5       503    57.66    290.03
10   45000   10       416    94.08    391.37
11   37435   13       418    68.70    287.17
12   50828    4       347    49.00    170.03
13   68000   13       455    64.20    292.11
14   78868    8       511    63.51    324.54
15   28454   13       219    76.54    167.62
16   70000    4       501    67.57    338.53
17   20000    5       197    66.00    130.02
18   50000   12       318    61.50    195.57

## Model

In [15]:
model = linear_model.LinearRegression()
model.fit(x, y)
coef = model.coef_

In [19]:
pred_y = [0]*len(data.index)
for hotel in range(len(data.index)):
    for i in range(len(coef)):
        pred_y[hotel] += coef[i]*x.iloc[hotel, i]

In [23]:
y - pred_y

0     7.832484e+06
1     7.729007e+06
2     5.831049e+06
3     9.284092e+06
4     9.627548e+06
5     8.424762e+06
6     8.350252e+06
7     8.640615e+06
8     1.033051e+07
9     9.795928e+06
10    6.802153e+06
11    9.648141e+06
12    9.974836e+06
13    9.272359e+06
14    1.057661e+07
15    1.080696e+07
16    1.074477e+07
17    1.105468e+07
18    1.148447e+07
Name: enrgcons, dtype: float64

## Data